@model BPMS01WebUI.Models.AddInspection_projectViewModel

@{
    ViewBag.Title = "AddInspection_project";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    //windows.bridge_id = 0;
    //windows.bridge_inspection = 0;

    $(function () {

        $('#selectContractButton').on('click', function () {
            id = $(":input:radio:checked").map(function () {

                return $(this).parent().siblings('td').eq(0).text();  // 根据checkbox定位到后面的td，然后使用text()函数获取内容

            }).get();   // 合同id

            contract_no = $(":input:radio:checked").map(function () {

                return $(this).parent().siblings('td').eq(1).text();  // 根据checkbox定位到后面的td，然后使用text()函数获取内容

            }).get();   // 合同编号

            contract_name = $(":input:radio:checked").map(function () {

                return $(this).parent().siblings('td').eq(2).text();  // 根据checkbox定位到后面的td，然后使用text()函数获取内容

            }).get();   //合同名称

            $("#contract_id").attr("value", $.trim(id));
            //alert($("#staff_id").val());

            $("#contract_name").attr("value", contract_name);
            //alert($("#staff_name").val());
        })
    })

    $(function () {

        $('#selectBridgeButton').on('click', function () {
            id = $(":input:radio:checked").map(function () {

                return $(this).parent().siblings('td').eq(0).text();

            }).get();   // 桥梁id

            name = $(":input:radio:checked").map(function () {

                return $(this).parent().siblings('td').eq(1).text();

            }).get();   // 桥梁名称

            structure_type = $(":input:radio:checked").map(function () {

                return $(this).parent().siblings('td').eq(2).text();

            }).get();   // 桥梁结构形式

            length = $(":input:radio:checked").map(function () {

                return $(this).parent().siblings('td').eq(3).text();

            }).get();   // 桥梁总长

            width = $(":input:radio:checked").map(function () {

                return $(this).parent().siblings('td').eq(4).text();

            }).get();   // 桥梁宽度

            span_number = $(":input:radio:checked").map(function () {

                return $(this).parent().siblings('td').eq(5).text();

            }).get();   // 桥梁跨数



            $("#bridge_id").attr("value", $.trim(id));

            $("#bridge_name").attr("value", name);

            $("#bridge_structure_type").attr("value", parseInt(structure_type));

            $("#bridge_length").attr("value", length);

            $("#bridge_width").attr("value", width);

            $("#bridge_span_number").attr("value", span_number);

        })
    })


      $(function() {
          $("#enter_date").datepicker({
          changeMonth: true,
          changeYear: true
        });
      });

      $(function () {
          $("#exit_date").datepicker({
              changeMonth: true,
              changeYear: true
          });
      });
   

</script>

<h2>AddInspection_project</h2>

@using (Html.BeginForm("AddInspection_project", "Inspection_project", FormMethod.Post))
{
    @Html.EditorForModel()

    @Html.Label("收费标准价格：")
    //@Html.TextBoxFor(p => p.standard_price)
    @Html.TextBox("standard_price",TempData["std_pdt_value"])
    //@Html.ActionLink("自动计算","GetStd_pdt_value")
    //<button type="submit" id="button1" name="button1" formaction='@Url.Action("GetStd_pdt_value", "Inspection_project",new {bridge_id=0, bridge_inspection=1})'>自动计算</button>
    <button type="submit" id="button1" name="button1" formaction='@Url.Action("GetStd_pdt_value", "Inspection_project")'>自动计算</button>
    <br />

    @Html.LabelFor(p => p.contract_id, "关联合同")
    //参考AddContract.cshtml
    @Html.Hidden("contract_id", "")
    <input type="button" data-toggle="modal" data-target="#popup_contract" value="选择合同" />

    @Html.Label("合同名称：")
    @Html.TextBoxFor(p => p.contract_name, new { @readonly = "readonly" })
    <br />

    @Html.LabelFor(p => p.bridge_id, "关联桥梁")
    //参考AddContract.cshtml
    @Html.Hidden("bridge_id", "")
    <input type="button" data-toggle="modal" data-target="#popup_bridge" value="选择桥梁" />

    @Html.Label("桥梁名称：")
    @Html.TextBoxFor(p => p.bridge_name, new { @readonly = "readonly" })
    <br />
    <input type="submit" value="添加" />
}

<br />@ViewBag.message

<div class="modal fade" id="popup_contract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-left">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择合同</h4>

            </div>

            <div class="modal-body">
                @Html.Action("ListContract", "Contract")
            </div>
            <div class="modal-footer">
                <div style="display: inline-block">
                    <button id="selectContractButton" class="btn btn-default" data-dismiss="modal">选择</button>
                </div>
                <div style="display: inline-block">
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="popup_bridge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-left">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择桥梁</h4>

            </div>

            <div class="modal-body">
                @Html.Action("ListBridge", "Bridge")
            </div>
            <div class="modal-footer">
                <div style="display: inline-block">
                    <button id="selectBridgeButton" class="btn btn-default" data-dismiss="modal">选择</button>
                </div>
                <div style="display: inline-block">
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>


        </div>
    </div>
</div>