@model IEnumerable<BPMS01Domain.Entities.staff>



<table id="staff_table" class="table">

    <tr>
        <th data-field="state" data-radio="true"></th>
        <!--由于主键不显示，所以该th可以去掉
        <th>
        </th>
        -->
        <th>
            工号
        </th>

        <th>
            姓名
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@Html.RadioButtonFor(modelItem => item.id, false)</td>
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.id)
                @*@Html.HiddenFor(modelItem => item.id, item.id)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no)
                @*@Html.TextBoxFor(modelItem => item.staff_no, new { @readonly = "readonly" })*@
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.name)
                @* @Html.TextBoxFor(modelItem => item.staff_name, new { @readonly = "readonly" })*@
            </td>
        </tr>
    }

</table>

