@model IEnumerable <BPMS01Domain.Entities.join_r_bridge_inspection_staff>

<table id="join_r_bridge_inspection_staff_table" class="table">

    <tr>

        <th>
            项目名称
        </th>

        <th>
            项目负责
        </th>
        <th>
            现场检测
        </th>
        <th>
            方案指定
        </th>
        <th>
            报告撰写
        </th>
        <th>
            报告校核
        </th>
        <th>
            其它工作
        </th>
        <th>
            产值比例
        </th>
        <th>
            产值
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.inspection_project_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_response)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.scene_coff)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.plan_coff)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.report_coff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.report_check_coff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.others_coff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.production_value_ratio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.production_value)
            </td>
        </tr>
    }

</table>

